@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Crimson Text", serif;
  margin: 0;
}

body {
  background-color: black;
  color: white;
}

table {
  margin: 0 auto 20px;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}

th, td {
  padding: 5px 15px;
  text-align: center;
  font-size: 16px;
}

th, .date {
  background-color: rgba(255, 255, 255, 0.25);
}

tfoot {
  /* background-color: rgba(240, 230, 140, 0.3); */
  background-color: rgba(175, 161, 29, 0.25);
}

tfoot, .change, .total-occupied, .total-occupied-percentage {
  font-weight: 700;
}

.inner-link {
  text-decoration: none;
  color: white;
}

.year-link {
  color: white;
  display: block;
  text-align: center;
}

.heading {
  text-align: center;
  margin: 10px 0;
}

.decisive-gain {
  /* color: rgb(2, 136, 2); */
  color: #006837;
}

.significant-gain {
  /* color: rgb(0, 201, 0); */
  color: #66BD63;
}

.insignificant-gain {
  color: rgb(164, 223, 2);
}

.minuscule-gain {
  color: rgb(166, 217, 106);
}

/* .stable {
  color: rgb(4, 188, 212);
} */

.minuscule-loss {
  color: rgb(254, 224, 139);
}

.insignificant-loss {
  color: rgb(255, 168, 53);
}

.significant-loss {
  color: rgb(250, 45, 45);
}

.decisive-loss {
  color: rgb(158, 4, 4);
}

.charts-container {
  max-width: 1200px;
  margin: 0 auto;
}

.charts-heading {
  text-align: center;
}

.axis-x .tick text,
.axis-y .tick text {
  font-size: 12px;
}

.important-event-text {
  stroke: white;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 100;
  letter-spacing: 1.2;
}

@media only screen and (max-width: 800px) {
  .charts-heading {
    font-size: 24px;
  }
}

@media only screen and (max-width: 700px) {
  .month-table, .stats-section {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media only screen and (max-width: 580px) {
  .charts-heading {
    font-size: 18px;
  }
}

@media only screen and (max-width: 450px) {
  .charts-heading {
    font-size: 14px;
  }
}